.main {
    width: 80%;
    margin: 2em auto;
    h2 {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }
    p {
        margin-top: 2em;
        font-family: 'Montserrat', sans-serif;
    }
}