.main {
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    h2 {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 2.7em;
        flex-basis: 100%;
        text-align: center;
    }
    .contact {
        margin-top: 4em;
        flex-basis: 50%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        h3 {
            flex-basis: 100%;
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 2em;
        }
        p {
            flex-basis: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2em;
            margin-top: 2em;
        }
        .fa-envelope {
            margin-right: .3em;
        }
    }
    .contact-form {
        margin-top: 4em;
        flex-basis: 50%;
        h3 {
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        .form {
            display: flex;
            flex-wrap: wrap;
            .form-row {
                margin: auto;
                flex-basis: 60%;
                margin-top: 2em;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                //text-align: center;
                label {
                    flex-basis:80%;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: .2em;
                }
                input {
                    flex-basis: 80%;
                    padding: .5em;
                    border: none;
                    border: 1px solid #5880bf;
                    border-radius: .4em;
                    box-shadow: none;
                }
                textarea {
                    flex-basis: 80%;
                    padding: .5em;
                    border: none;
                    border: 1px solid #5880bf;
                    border-radius: .4em;
                    box-shadow: none;
                    resize: none;
                }
                button {
                    font-size: 1em;
                    font-family: 'Montserrat', sans-serif;
                    background: none;
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid #5880bf;
                    padding: 1em 3em;
                    transition: background .5s ease, border-radius .5s ease;
                    &:hover {
                        background: #5880bf;
                        border-radius: .4em;
                        cursor: pointer;
                    }
                }
            }
        }
        .alert {
            display: none;
            opacity: 0;
            position: fixed;
            bottom: 5%;
            right: 5%;
            background: #64e87a;
            border-radius: 1em;
            transition: opacity .5s ease, display .5s ease;
            .alert-box {
                padding: 4em;
                position: relative;
                .alert-msg {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.2em;
                }
                .alert-close {
                    position: absolute;
                    top: 5%;
                    right: 2%;
                    cursor: default;
                }
            }
        }
    }
}