* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 100%;
    .header {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 1em;
        justify-content: flex-end;
        .logo {
            padding: 1em;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            img {
                width: auto;
                height: auto;
                margin: auto;
                // max-width: 400px;
                // max-height: 225px;
            }
            &:after {
                content: '';
                display: block;
                width: 100%;
                background: #222;
                height: 2px;
                position: absolute;
                bottom: -.2em;
            }
        }
        .header-nav {
            padding: 1em 0;
            flex-basis: 50%;
            .header-nav-list {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                .header-nav-item {
                    padding: .7em;
                    //text-transform: uppercase;
                    margin-right: 1em;
                    &:after {
                        content: '';
                        display: block;
                        margin: auto;
                        margin-top: .2em;
                        height: 3px;
                        width: 0px;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                    }
                    &:hover:after {
                        width: 100%;
                        background: #5880bf;
                    }
                    .header-nav-link {
                        text-decoration: none;
                        color: #222;
                        transition: color .5s ease;
                        &:hover {
                            color: #5880bf;
                        }
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .footer-left {
            flex-basis: 40%;
            display: flex;
            justify-content: flex-start;
            .footer-left-logo {
                //flex-basis: 40%;
                img {
                    height: auto;
                    width: auto;
                    max-height: 72px;
                    max-width: 250px;
                }
            }
            .footer-left-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                    margin: 0;
                    padding-top: .2em;
                    padding-left: 1.5em;
                }
            }
        }
        .footer-right {
            flex-basis: 40%;
            .footer-nav {
                width: 100%;
                .footer-nav-list {
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    .footer-nav-item {
                        padding: .7em;
                        margin-right: 1em;
                        .footer-nav-link {
                            text-decoration: none;
                            color: #222;
                            transition: color .5s ease;
                            &:hover {
                                color: #5880bf;
                            }
                        }
                    }
                }
            }
        }
        .footer-copy {
            text-align: center;
            margin: 2em 0;
            flex-basis: 40%;
        }
    }
}