.main {
    width: 80%;
    margin: 3em auto;
    .who {
        h2 {
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        p {
            width: 80%;
            margin: 2em auto;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }
    }
    .people {
        h2 {
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .person-card {
                width: 60%;
                margin: auto;
                margin-top: 3em;
                .person-pic {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                }
                .person-desc {
                    margin-top: 1em;
                    text-align: center;
                    .person-desc-text {
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }
}