.main {
    width: 80%;
    margin: 3em auto;
    .who {
        h2 {
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        p {
            width: 80%;
            margin: 2em auto;
            font-family: 'Montserrat', sans-serif;
        }
    }
    .people {
        h2 {
            font-family: 'Amatic SC', cursive;
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        .person-card {
            width: 60%;
            margin: auto;
            margin-top: 3em;
            display: flex;
            .person-pic {
                flex-basis: 20%;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            .person-desc {
                display: flex;
                align-items: center;
                justify-content: center;
                .person-desc-text {
                    width: 80%;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}